/* looks best at 16px */
@font-face {
    font-family: "Undertale-Text-Menu";
    src: url('./fonts/Determination/DeterminationMonoWeb.woff') format("woff"); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Undertale-Text-Dialogue";
    src: url('./fonts/Determination/DeterminationSansWeb.woff') format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Undertale-Battle-Text-Dialogue";
    src: url('./fonts/Dotumche-Pixel/dotumche-pixel.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/*  
Glyph Cheatsheet
@ = Double Sans
& = Mercy Icon
# = Fight Icon
$ = Act Icon
% = Item Icon

uppercase - letters with bigger spacing, tighter spacing -lowercase
*/
@font-face {
    font-family: "Undertale-Text-Buttons";
    src: 
        url('./fonts/Mercy/MERCY.otf') format("opentype"),
        url('./fonts/Mercy/MERCY.ttf') format("truetype");
}

@font-face {
    font-family: "Undertale-Pixelated";
    src: url('./fonts/Undertale-Pixel/undertale-pixelated.otf') format("opentype");
}

/*background-text grey should be used at 50% opacity, used for layering*/
:root {
    --red: #FF0000;
    --orange: #eb8133;
    --yellow: #fff10a;
    --button-yellow: #c5bb03;
    --green: #00C700;
    --light-blue: #42E2FF;
    --blue: #003EFF;
    --purple: #E038E1;

    --main-text-color: #fff;
    --background-text-color: #888;
    --background-color: #000;
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.content-wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
    min-width: 800px;
}

.left-section,
.right-section {
    width: 15%;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}

.textbox {
    width: 100%;
    height: 200px;
    padding: 20px 60px;
    border: var(--main-text-color) solid 5px;

    font-family: "Undertale-Text-Dialogue";
    color: var(--main-text-color);
    font-size: 40px;
}

.stats,
.main-info,
.health-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats {
    color: var(--main-text-color);
    font-family: "Undertale-Pixelated";
    padding: 10px 2px 5px;
    gap: 5%
}

.name {
    padding-right: 30px;
}

.hp {
    font-family: "Undertale-Text-Dialogue";
    display: inline-block;
    line-height: 0.8;
    font-size: 20px;
    padding-right: 8px;
}

.hp-bar {
    margin-top: 4px;
    display: flex;
    width: 30px;
    height: 23px;
}

#red {
    background-color: var(--red);
    width: 0%;
}

#yellow {
    background-color: var(--yellow);
    width: 100%;
}

.hp-numbers {
    padding-left: 15px;
}

.buttons {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    gap: 10%;
    
}

.buttons button {
    display: inline-block;
    line-height: 1.15;
    height: 60.44px;
    padding: 1px 3px 4px 10px;
    border: var(--orange) solid 3px;
    font-family: "Undertale-Text-Buttons";
    font-size: 43px;
    color: var(--orange);
    background-color: var(--background-color);
    flex-shrink: 0;
}

#act {
    padding: 1px 0px 4px 14px;
}

#item {
    padding: 1px 8px 4px 14px;
}

.buttons :hover {
    color: var(--button-yellow);
    border: var(--button-yellow) solid 3px;
}

@media screen and (min-width: 2300px){
    .middle-section{
        width: 60%;
    }

    .left-section,
    .right-section {
        width: 20%;
    }
}

@media screen and (min-width: 2100px){
    .middle-section{
        width: 65%
    }

    .left-section,
    .right-section {
        width: 17.5%;
    }
}

@media screen and (max-width: 1500px){
    .middle-section{
        width: 75%
    }

    .left-section,
    .right-section {
        width: 12.5%;
    }
}


@media screen and (max-width: 1200px){
    .buttons {
        gap: 5%;
    }

    .middle-section{
        width: 80%
    }

    .left-section,
    .right-section {
        width: 10%;
    }
}

@media screen and (max-width: 900px){
    .buttons {
        gap: 1%;
    }
}