/* looks best at 16px */
@font-face {
    font-family: "Undertale-Text-Menu";
    src: url('./fonts/Determination/DeterminationMonoWeb.woff') format("woff"); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Undertale-Text-Dialogue";
    src: url('./fonts/Determination/DeterminationSansWeb.woff') format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Undertale-Battle-Text-Dialogue";
    src: url('./fonts/Dotumche-Pixel/dotumche-pixel.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

/*uppercase for letters with heart spaces*/
@font-face {
    font-family: "Undertale-Title-Back";
    src: url('./fonts/Monster-Friend/MonsterFriend2Back.woff2'), format('woff2');
}

@font-face {
    font-family: "Undertale-Title-Middle";
    src: url('./fonts/Monster-Friend/MonsterFriend2Center.woff2'), format('woff2');
}

@font-face {
    font-family: "Undertale-Title-Front";
    src: url('./fonts/Monster-Friend/MonsterFriend2Fore.woff2'), format('woff2');
}

/*  
Glyph Cheatsheet
@ = Double Sans
& = Mercy Icon
# = Fight Icon
$ = Act Icon
% = Item Icon

uppercase - letters with bigger spacing, tighter spacing -lowercase
*/
@font-face {
    font-family: "Undertale-Text-Buttons";
    src: 
        url('./fonts/Mercy/MERCY.otf') format("opentype"),
        url('./fonts/Mercy/MERCY.ttf') format("truetype");
}

@font-face {
    font-family: "Undertale-Pixelated";
    src: url('./fonts/Undertale-Pixel/undertale-pixelated.otf') format("opentype");
}

/*background-text grey should be used at 50% opacity, used for layering*/
:root {
    --red: rgb(255, 0, 0);
    --orange: rgb(255, 127, 39);
    --yellow: rgb(255, 241, 10);
    --green: rgb(0, 199, 0);
    --light-blue: rgb(66, 226, 255);
    --blue: rgb(0, 62, 255);
    --purple: rgb(224, 56, 225);

    --main-text-color: rgb(255, 255, 255);
    --background-text-color: rgb(136, 136, 136);
    --background-color: rgb(0, 0, 0);

    /* topmost position - animation will bring them down and then back to this position */
    --left-hand-position-Y: 5.4%; 
    --right-hand-position-Y: -2.4%;

    --left-hand-position-X: 29.5%;
    --right-hand-position-X: -19.5%;
    
    --left-arm-scaling: 1.344;
    --right-arm-scaling: 1.344;

    --heart-size: 44px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    cursor: url(./images/cursor.png), auto;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);

    user-select: none;
}



#premature-end {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    color: var(--main-text-color);
}

#end-filling {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
}

#end-text {
       position: relative;
       visibility: hidden;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       transform: translateY(400%);
       animation: end-text 45s linear 1s;
       animation-fill-mode: forwards;
       font-family: "Undertale-Text-Dialogue";
}

@keyframes end-text {
    0% {
        visibility: visible;
        transform: translateY(400%)
    }

    100% {
        visibility: visible;
        transform: translateY(-500%);
    }
}

#premature-end-noised {
    position: relative;
    overflow: hidden;

    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.fuzzy-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("./images/static.jpg");
    opacity: 50%;

    animation: shift 0.2s linear infinite both;
    pointer-events: none;
}

@keyframes shift {
    0% {
        transform: translateX(10%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}

#load {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;

    gap: 5%;
}

#load img {
    width: 1.8%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.title-back,
.title-center,
.title-front {
    font-size: 400%;
    position: absolute;
    align-self: center;

    margin-top: -15%;
}

.title-back {
    font-family: "Undertale-Title-Back";
    color: var(--background-text-color);
    z-index: 6;
}

.title-center {
    font-family: "Undertale-Title-Middle";
    color: var(--red);
    z-index: 7;
}

.title-front {
    font-family: "Undertale-Title-Front";
    color: var(--main-text-color);
    z-index: 8;
}

.start-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;

    color: var(--background-text-color);
    font-family: "Undertale-Pixelated";
    font-size: 160%;
}

.beat {
    transform: scale(1.4);
}

.content-wrapper {
    display: flex;
    width: 100vw;
    height: 100%;
    min-width: 800px;
    min-height: 900px;
}

.left-section,
.right-section {
    width: 15%;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.center-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
}

.top-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;
    z-index: 1;

    animation: bodyWiggle 0.7s linear infinite alternate; 
}

@keyframes bodyWiggle {
    0% {
        transform: rotate(3deg) skew(-3deg)
    }

    50% {
        transform: rotate(0deg) skew(0deg)
    }

    100% {
        transform: rotate(-3deg) skew(3deg)
    }
}

.hiding-block-left,
.hiding-block-right {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0%;
    z-index: 5;

    background-color: var(--background-color);
}

.hiding-block-left {
    left: 0%
}

.hiding-block-right {
    left: 80%;
}

.rate-sign {
    background-color: var(--main-text-color);
    margin-left: 90%;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Undertale-Battle-Text-Dialogue";
}

.shuffle-box {
    height: 20%;
    width: 60%;
    position: absolute;
    top: 64%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#shuffle-here {
    transform: translateX(-200%);
    animation: 3s motion-to linear;
    animation-fill-mode: forwards;
}

@keyframes motion-to {
    0% {
        visibility: visible;
        transform: translateX(-100%);
    }

    100% {
        visibility: visible;
        transform: translateX(0%);
    }
}

#shuffle-away {
    animation: 3s motion-from linear;
    animation-fill-mode: forwards;
}

@keyframes motion-from {
    0% {
        visibility: visible;
        transform: translateX(0%);
    }

    100% {
        visibility: visible;
        transform: translateX(100%);
    }
}

.judge-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 0.5%;

    height: 100%;
    overflow: visible;
}

.judge-box > img:not(.wheelie) {
    height: 40%;
    aspect-ratio: 59/47;
}

.wheelie {
    height: 6%;
    width: 12%;
}

.tiny-leg {
    height: 5%;
    width: 4%;
    background-color: var(--main-text-color);
    margin: 1.5% 0% 3%;
}

.middle-part {
    height: 20%;
    margin-bottom: 10px;
}

.bottom-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10%;
}

#bubble-textfield {
    position: absolute;
    align-self: flex-start;

    margin-top: 6%;
    margin-left: -3%;

    padding: 1.5%;
    border-radius: 10%;
    width: 18%;
    height: 20%;
    background: var(--main-text-color);
    font-family: "Undertale-Battle-Text-Dialogue";
    font-size: x-large;
    z-index: 2;
}

#bubble-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: solid 35px;
    border-color: transparent transparent transparent var(--main-text-color);

    scale: 3 0.8;
    margin-top: 9%;
    margin-left: 17%;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
}

.head,
.body {
    display: flex;
    flex-direction: row;

    border: var(--main-text-color) solid 6px;
    background: var(--background-color);
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height: 65%;
    aspect-ratio: 1 / 1;
}

.body {
    justify-content: space-around;
    align-items: center;

    width: 35%;
    height: 120px;

    border-top: var(--background-color) solid 12px;
    object-fit: contain;
    margin-top: -7px;
}

.body img {
    height: 50%;
    width: auto;
}

.leg {
    width: 23px;
    height: 58px;
    background-color: var(--main-text-color);
    margin-bottom: 0.7%;
    margin-top: 1.2%;
}


#textbox {
    width: 100%;
    height: 100%;
    padding: 1.5% 0%;
    border: var(--main-text-color) solid 5px;
    font-family: "Undertale-Text-Dialogue";
    color: var(--main-text-color);
    font-size: 400%;
    flex-shrink: 1.5;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text-section {
    width: 95%;
    padding-right: 5%;
    font-size: 95%;

    display: flex;
    flex-direction: column;
}

#star-space {
    width: 5%;
    padding-left: 1.5%;
}
 
#text-field {
    height: 75%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#page-navigation {
    height: 25%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.page-selection {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;

    justify-content: space-around;
    align-items: center;
    align-content: center; 
}

.page-text {
    width: 55%;
}

.menu-element {
    display: flex;
    flex-direction: row;
    width: 33.33%;
    height: 50%;

    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.heart-space,
.star,
.option-name {
    pointer-events: none;
}

.heart-space {
    width: 12%;
    padding-top: 5%;
}

.star {
    width: 10%;
}

.option-name {
    width: 50%;
}

.stats,
.main-info,
.health-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stats {
    height: 40%;
    color: var(--main-text-color);
    font-family: "Undertale-Pixelated";
    font-size: 160%;
    padding: 0px 2px 0px;
    gap: 15%
}

.name {
    padding-right: 30px;
}

.hp {
    font-family: "Undertale-Text-Dialogue";
    display: inline-block;
    line-height: 0.8;
    font-size: 120%;
    padding: 3px 8px 0px 0px;
}

.hp-bar {
    margin-top: 4px;
    display: flex;
    width: 28px;
    height: 23px;
}

#red {
    background-color: var(--red);
    width: 0%;
}

#yellow {
    background-color: var(--yellow);
    width: 100%;
}

.hp-numbers {
    padding-left: 15px;
}

.buttons {
    height: 80%;
    width: 100%;
    display: flex;
    padding: 0.5% 0 1%;
    justify-content: space-between;
    gap: 5%;   
}

#act {
    padding: 1px 0px 4px 14px;
}

#item {
    padding: 1px 8px 4px 14px;
}


#mett-a-sketch {
    display: flex;
    flex-direction: row;
    background: var(--main-text-color);
    height: 80%;
    width: 80%
}

.newRow {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.innerCells {
    border: var(--background-color) 1px solid;
    background: var(--main-text-color);
    height: 100%;
    width: 100%;
}


#mouth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 30%;
    height: 8%;
    margin-top: 5%;
}

#mouth > div {
    background-color: var(--main-text-color);
    width: 20%;
    height: 100%;
}

.arm-space {
    width: 15%;
}

#right-arm {
    position: absolute;
    margin-left: var(--right-hand-position-X);
    margin-top: var(--right-hand-position-Y); 
    
    width: auto;
    height: 18%;
    z-index: 2;
    scale: var(--right-arm-scaling);

    animation: jazzHands linear 0.5s infinite alternate;
}

#left-arm {
    position: absolute;
    margin-left: var(--left-hand-position-X); 
    margin-top: var(--left-hand-position-Y);
    scale: var(--left-arm-scaling);

    width: auto;
    height: 20%;
    z-index: 2;
    animation: jazzHands linear 0.5s infinite alternate;
}

@keyframes jazzHands {
    0% {
        transform: translateY(0%);
        
    }

    100% {
        transform: translateY(10%)
    }
}

.action-button {
    display: flex;
    direction: row;
    justify-content: space-around;

    align-items: center;
    align-content: center;
    padding: 5px 8px 15px 15px;
    aspect-ratio: 277/92;
    max-height: 100px;
    gap: 15px;

    border: var(--orange) solid 4px;
    font-family: "Undertale-Text-Buttons";
    font-size: 550%;
    color: var(--orange);
    background-color: var(--background-color);
    flex-grow: 0;
}

.button-highlight {
    border: var(--yellow) solid 4px;
    color: var(--yellow);
} 

.border-highlight {
    border: var(--yellow) solid 4px;
}

.yellow-text {
    color: var(--yellow); 
}

#act-button {
    justify-content: right;
}

#act-button .button-text {
    width: 75%;
}

#item-button {
    padding: 5px 13px 15px 20px;
}

.button-symbol {
    width: 18%;
    pointer-events: none;
}

.button-text {
    width: 80%;
    pointer-events: none;
}

.multi-line-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 100%;
}


#yellow-heart,
#stand-in-for-yellow-heart{
    width: var(--heart-size);
    height: auto;
    padding-bottom: 25%;
}

.red {
    background: var(--red);
}

.orange {
    background: var(--orange);
}

.yellow {
    background: var(--yellow);
}

.green {
    background: var(--green);
}

.lightBlue {
    background: var(--light-blue);
}

.blue {
    background: var(--blue);
}

.purple {
    background: var(--purple);
}

.black {
    background: var(--background-color);
}

.grey {
    background: var(--background-text-color);
};

.etchPen {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 2px solid red !important;
    mix-blend-mode: darken;
}

#mousedBox {
    position: absolute;
    box-sizing:content-box;
    align-self: center;

    background-image: url(./images/fight-slider.png);
    background-origin: border-box;
    background-size: 100% 76%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.5%;
    margin-bottom: -1.8%;

    width: 59.6%;
    height: 19%;
    cursor: none;
}

#mousedBox > div {
    height: 100%;
    z-index: 1;
    cursor: none;
}

#fightBar {
    position: absolute;
    align-self: flex-start;
    height: 18%;
    width: 0.9%;
    margin-top: -0.5%;

    border: solid var(--background-color) 4px;
    background: var(--main-text-color);
    cursor: none;
    pointer-events: none;
}

.sun {
    width: 9%;
}

.mercury {
    width: 12.5%;
}

.venus {
    width: 21%;
}

.earth {
    width: 12.2%;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.gone {
    display: none;
}

#soul {
    position: relative;

    top: 40%;
    left: 40;
}

.flash-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: opacity 100ms ease-out;
}

.paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important; 
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}

/* work on arm scaling for width 2000, mett's body scaling also goes awry at around 1900 - 
add breakpoints for that resolution and anything lower 

also I REALLY need to work on button scaling

!!don't forget scaling for mousedBox!!*/

@media screen and (max-height: 1000px){
    .top-part {
        height: 62%;
    }
    
    .middle-part {
        height: 23%;
    }
    
    .bottom-part {
        height: 15%;
    }
}

@media screen and (min-height: 1001px){
    .top-part {
        height: 65%;
    }
    
    .middle-part {
        height: 20%;
    }
    
    .bottom-part {
        height: 15%;
    }
}

@media screen and (min-width: 2300px){
    .center-section{
        width: 60%;  
    }

    .left-section,
    .right-section {
        width: 20%;
    }
}

@media screen and (min-width: 2100px){
    .center-section{
        width: 60%
    }

    .left-section,
    .right-section {
        width: 20%;
    }
}

@media screen and (max-width: 1500px){
    .center-section{
        width: 75%
    }

    .left-section,
    .right-section {
        width: 12.5%;
    }
}


@media screen and (max-width: 1200px){
    .buttons {
        gap: 5%;
    }

    .center-section{
        width: 80%
    }

    .left-section,
    .right-section {
        width: 10%;
    }
}

@media screen and (max-width: 1100px){
    .buttons {
        gap: 5%;
        height: 60%;
    }

    .buttons .action-button {
        font-size: 300%
    }
}

@media screen and (max-width: 90px){
    .buttons {
        gap: 0.5%;
        height: 60%
    }

    .buttons .action-button {
        font-size: 300%
    }
}